---
---

@import "{{ site.theme }}";

header > h1:after {
  width: 100px;
  height: 100px;
  background-image: url({{site.baseurl}}/assets/radiogzavatar.png);
  background-size: contain;
  display: block;
    content: '';
    margin:0 auto;
}

header {
  /* Override the default padding and width so we can fit the RGZ title.
     These should still add up to the same value; just more space for text. */
  padding: 34px 10px 22px 35px;
  width: 200px;
}

h1.header { /* This selector is equally specific as the default one. */
  /* Shrink the font size to fit the RGZ title. */
  font-size: 23px;
}
