---
---

@import "{{ site.theme }}";

header > h1:after {
  width: 100px;
  height: 100px;
  background-image: url({{site.baseurl}}/assets/radiogzavatar.png);
  background-size: contain;
  display: block;
    content: '';
    margin:0 auto;
}
